@import "tailwindcss";

:root {
  --white: #eef5ff;
  --gray: #333333;
  --background: #fdfbf7;
  --foreground: #2c2a29;
}

.font-lora {
  font-family: var(--font-lora), serif;
}

.font-sans {
  font-family: var(--font-nunito), sans-serif;
}

.font-indie-flower {
  font-family: var(--font-indie-flower), cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Nunito", sans-serif;
  --font-lora: "Lora", serif;
  --font-indie-flower: "Indie Flower", cursive;
  --color-primary: #b590ca;
  --color-primary-hover: #9e6ba3;
  --color-accent: #2196f3;
  --color-accent-hover: #1976d2;
  --color-text-color: #212121;
  --color-text-secondary: #757575;
  --color-secondary: #8fbc8f;
  --color-secondary-hover: #6fa86f;
  --color-terciary: #60c5a8;
  --color-text-error: #f44336;
  --color-error: #e53935;
  --color-error-hover: #d32f2f;
  --color-bg-gray: #f5f5dc;
  --color-bg-default: #faebd7;
}

body {
  background: var(--background);
  color: var(--gray);
  font-family: --font-sans, sans-serif;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-rainbow-bg {
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7700,
    #ffff00,
    #00ff00,
    #0080ff,
    #8b00ff,
    #ff0080
  );
  background-size: 300% 300%;
  animation: rainbow 6s ease infinite;
}

@layer base {
  .prose h1 {
    @apply text-4xl font-bold mb-4;
  }
  .prose h2 {
    @apply text-3xl font-bold mb-4;
  }
  .prose h3 {
    @apply text-2xl font-bold mb-4;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-lora;
  }
}

@layer base {
  p,
  span,
  a,
  li,
  div {
    @apply font-sans;
  }
}
